* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}

table {
  padding: 2px;
  margin: 2px;
}

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  margin: 2px;
}

.ItemListTable {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: circle;
  padding: 2px;
  margin: 2px;
}

.UrnaCriptoLogo {
  font-size: 25px;
  font-family: 'Playfair Display SC', serif;
  cursor: pointer;
}

.UrnaCriptoSubtitle {
  font-size: 14px;
  font-family: 'Playfair Display SC', serif;
  text-decoration: underline;
}

textarea {
  border: 0px solid rgb(160,160,160);
  color: white;
  background-color: #272822;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
  /*white-space: pre;*/
  /*overflow-wrap: normal;*/
  /*overflow-x: scroll;*/
  font-family: consola, monospace;
}

p {
  padding: 2px;
  margin: 2px;
}
button {
  padding: 2px;
  margin: 2px;
  border: 1px solid rgb(220,220,220);
  background-color: rgb(220,220,220);
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(210,210,210);
}
button:active {
  position: relative;
  top: -1px;
}

input {
  border-radius: 2px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid rgb(220,220,220);
}

button, textarea, input { outline: none; }

#app {
  padding: 4px;
  /*border: 1px solid rgb(240,240,240);*/
}

.page {}
.pageTitle {
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.pageTitle:hover {
  text-decoration: underline;
}

td {
  vertical-align: top;
}

.ItemListButton {
  padding: 0px;
  margin: 0px;
  width: 12px;
}

.actionButton {
  width: 212px;
}

.modal {
  font-family: consola, monospace;
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  left: 0px;
  top: 0px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalLink {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.optionMessage {
  font-style: italic;
  font-size: 14px;
}
